{{ "<!-- Call To Action Section Start -->" | safeHTML }}
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {{ with .Site.Params.cta.title }}<h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h1>{{ end }}
                    {{ with .Site.Params.cta.content }}<p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">{{ . | safeHTML }}</p>{{ end }}
                </div>
                    {{ "<!-- Social Media -->" | safeHTML }}
                    <ul class="social text-center text-md-center text-lg-center">
                        <li>
                            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#116;&#46;&#117;&#107;&#97;&#119;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="mail">
                                <i class="ion-android-mail"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/sunagimon" target="_Blank" class="github">
                                <i class="ion-social-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/sunagimom" targrt="_Blank" class="instagram">
                                <i class="ion-social-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCuQCam3WJuAbp9Ab37Lkvlw" target="_Blank" class="youtube">
                                <i class="ion-social-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://itunes.apple.com/jp/playlist/dj-takuto/pl.u-aZb0kgxCPpekx2" target="_Blank" class="apple">
                                <i class="ion-social-apple"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{{ "<!-- Call To Action Section End -->" | safeHTML }}